body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.icon {
  max-height: 40px;
  padding-right: 10px;
}

hr {
  height: 5px;
  color: white; /* old IE */
  background-color: white; /* Modern Browsers */
  max-width: 80px;
}

header {
  background-color: red;
  margin-bottom: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  background-color: red;
}