<div class="makeWhite">
    <h2 class="makeWhite">We are the Greater Cincinnati and Northern Kentucky chapter of the Democratic Socialists of
        America</h2>
    <p class="makeWhite">
        DSA Cincinnati is a local chapter of the Democratic Socialists of America. We believe that both the economy and
        society should
        be run should be run democratically to meet human needs, not to make profits for a few. We are a political and
        activist
        organization, not a party; through campus and community-based chapters DSA members use a variety of tactics,
        from
        legislative to direct action, to fight for reforms that empower working people.
    </p>
</div>
<!-- <footer></footer> -->