<div class="makeWhite">
    <h2 class="makeWhite">We are the Greater Cincinnati and Northern Kentucky chapter of the Democratic Socialists of America</h2>
    <p class="makeWhite">
        DSA Cincinnati is a local chapter of the Democratic Socialists of America. We believe that both the economy and society should
        be run should be run democratically to meet human needs, not to make profits for a few. We are a political and activist
        organization, not a party; through campus and community-based chapters DSA members use a variety of tactics, from
        legislative to direct action, to fight for reforms that empower working people.
    </p>

    <!-- <h2 class="makeWhite">Our Current Work</h2>
    <p class="makeWhite">
        DSA Cincy is involved in numerous campaigns in the Greater Cincinnati area.
    </p>

    <ul class="makeWhite">
        <li>Our Library Our Decision</li>
        <li>Health Justice</li>
        <li>Work Against Racism and Fascism</li>
        <li>Environmental Justice</li>
        <li>Women's Branch</li>
        <li>Education</li>
    </ul>

    <h2 class="makeWhite">Past Actions</h2>
    <p class="makeWhite">
        DSA Cincy has been involved in various campaigns in the Greater Cincinnati area.
    </p>

    <ul class="makeWhite">
        <li>Newport Needle Exchange</li>
        <li>Pride Month</li>
        <li>Brake Light Clinics</li>
        <li>Coalition Against Richard Spencer</li>
    </ul> -->

</div>
<!-- <footer></footer> -->