<div class="makeWhite">
    <h1 class="makeWhite">Contact</h1>
    <div class="makeWhite">
        <p>
            <a href="https://www.facebook.com/dsacincy/">Facebook</a>
        </p>
        <p>
            <a href="https://twitter.com/dsacincy">Twitter</a>
        </p>
        <p>
            <a href="mailto:dsacincy@gmail.com">Email</a>
        </p>
    </div>

    <h1 class="makeWhite">
        Need to Report Something?
    </h1>
    <p class="makeWhite">
        If you’ve seen harassment, threats, or other have other concerns, you can report it anonymously. It will be sent to harassment
        grievance representatives only.
    </p>
    <p>
        <a href="mailto:dsacincygrievance@gmail.com">REPORT AN ISSUE</a>
    </p>
    <!--TODO: set up a google form-->
</div>
<!-- <footer></footer> -->