<div class="makeWhite">
    <h1 class="makeWhite">Contact</h1>
    <div class="makeWhite">
        <a href="https://www.facebook.com/dsacincy/">
            <p>Facebook</p>
        </a>
        <a href="https://twitter.com/dsacincy">
            <p>Twitter</p>
        </a>
        <a href="mailto:dsacincy@gmail.com">
            <p>Email</p>
        </a>
    </div>

    <h1 class="makeWhite">
        Need to Report Something?
    </h1>
    <p class="makeWhite">
        If you’ve seen harassment, threats, or other have other concerns, you can report it anonymously. It will be sent to harassment
        grievance representatives only.
    </p>
    <a href="mailto:dsacincygrievance@gmail.com">
        <p class="makeWhite">REPORT AN ISSUE</p>
    </a>
    <!--TODO: set up a google form-->
</div>
<!-- <footer></footer> -->