<div class="makeWhite">

    <h1 class="makeWhite">
        Join or Donate
    </h1>
    <p class="makeWhite">
        DSA is funded by our membership — not corporate foundations or private companies. This ensures that DSA members are in full
        democratic and political control of our organization. Through national dues and local contributions, DSA members
        self-fund our own tools for liberation. No one is turned away for lack of funds. Contact us for more information.
    </p>
    <h1 class="makeWhite">
        Becoming a DSA Member
    </h1>
    <p class="makeWhite">
        <strong>To become a DSA member you must pay dues to our national organization.</strong> Annual dues are an option, but we
        encourage everyone who is financially able to become a national monthly sustaining member.
    </p>
    <p class="makeWhite">
        <a href="http://dsausa.org/join">Click here</a> to become a member of the Democratic Socialists of America.
    </p>
    <p class="makeWhite">
        After joining, send your reciept to
        <a href="mailto:dsacincy@gmail.com">dsacincy@gmail.com</a> to add your name to our list of local members, and gain access to the
        <a href="https://www.facebook.com/groups/180665459067228/">members only Facebook group.</a>
    </p>
    <!-- <h1>
        Sustaining our local chapter
    </h1>
    <p>
        Local contributions are not mandatory but we do need them to keep the lights on. They are used for, printing materials, and
        other logistical needs. One-time donations are always appreciated, but regular monthly contributions allow us
        to build a more stable and sustainable organization. Your contributions help make sure that our organization
        is accountable to its membership alone. If you are donating to a particular DSA Cincinnati initiative, please
        include it in the Paypal donation memo.
    </p> -->
</div>
<!-- <footer></footer> -->