<nav>
    <a href="#!/">
        <h2 class="brand">DSA</h2>
    </a>
    <input type="checkbox" id="nav">
    <label for="nav">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <ul class="menu">
        <a href="#!/home">
            <li>Home</li>
        </a>
        <a href="#!/about">
            <li>About</li>
        </a>
        <a href="#!/calendar">
            <li>Calendar</li>
        </a>
        <a href="#!/contact">
            <li>Contact</li>
        </a>
        <a href="#!/join">
            <li>Join</li>
        </a>
    </ul>
</nav>